<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->


  <!-- Sidebar -->
  <div class="sidebar" >
    <!-- Sidebar user panel (optional) -->
    <div class="logoname">
      <div>
        <img src="assets/sidelogo.png">
      </div>
      <div class="info">
        <a href="#" class="name">AIMS</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item">
              <a href="#" routerLink="./dashboard" routerLinkActive="active" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <img src="assets/grid-fill.png">
                <p>
                 Dashboard
                </p>
              </a>
            </li>
        <li class="nav-item menu-close">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <img src="assets/assets.png">
            <p>
              Assets
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link active " routerLink="./physical" routerLinkActive="active" >
                <i class="far fa-circle nav-icon"></i>
                <p>Physical</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link active " routerLink="./digital" routerLinkActive="active">
                <i class="far fa-circle nav-icon"></i>
                <p>Digital</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active " routerLink="./reports" routerLinkActive="active"  >
            <i class="nav-icon fas fa-th"></i>
            <img src="assets/chart.png">
            <p>
             Reports
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link active " routerLink="./recent-activity" routerLinkActive="active">
            <i class="nav-icon fas fa-th"></i>
            <img src="assets/recentact.png">
            <p>
             Recent Activity
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>

